html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
details,
summary,
main {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none !important;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

nav > ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
details,
summary,
main,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

nav ol,
nav ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

.block-group,
.block,
.block-group:after,
.block:after,
.block-group:before,
.block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
  zoom: 1;
}

.block-group:before,
.block-group:after {
  content: "";
  display: table;
}

.block-group:after {
  clear: both;
}

.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

.block {
  float: left;
  width: 100%;
}

@font-face {
  font-family: "Open Sans";
  src: local("☺︎"), url("/assets/fnt/OpenSans/regular.woff") format("woff"), url("/assets/fnt/OpenSans/regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("☺︎"), url("/assets/fnt/OpenSans/light.woff") format("woff"), url("/assets/fnt/OpenSans/light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local("☺︎"), url("/assets/fnt/Roboto/regular.woff") format("woff"), url("/assets/fnt/Roboto/regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("☺︎"), url("/assets/fnt/Roboto/light.woff") format("woff"), url("/assets/fnt/Roboto/light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

* {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background: #fff;
  min-width: 320px;
}

a {
  color: ;
}

a:hover {
  text-decoration: none;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body.active,
html.active {
  overflow: visible;
}

.page {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1048px;
}

.wrapper {
  min-width: 320px;
  min-height: 100%;
}

.grid:before {
  content: "";
  width: 1048px;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: -webkit-linear-gradient(left, rgba(255,0,0,0.3) 158px, transparent 158px);
  background: -moz-linear-gradient(left, rgba(255,0,0,0.3) 158px, transparent 158px);
  background: -o-linear-gradient(left, rgba(255,0,0,0.3) 158px, transparent 158px);
  background: -ms-linear-gradient(left, rgba(255,0,0,0.3) 158px, transparent 158px);
  background: linear-gradient(to right, rgba(255,0,0,0.3) 158px, transparent 158px);
  -webkit-background-size: 178px;
  -moz-background-size: 178px;
  background-size: 178px;
  pointer-events: none;
}

.title {
  font-size: 46px;
  line-height: 0.9;
  color: #25738e;
  font-weight: 300;
}

.title--small {
  font-size: 23px;
  line-height: 1;
  padding-top: 22px;
}

.btn-center {
  text-align: center;
  padding-top: 20px;
}

.btn {
  display: inline-block;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: none;
  background: #0092b3;
  height: 59px;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
}

.btn:hover {
  background: #25738e;
}

.tabs {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.tabs input {
  display: none;
}

.tabs span {
  display: flex;
  height: 37px;
  justify-content: center;
  text-align: center;
  align-items: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #25738e;
  -webkit-box-shadow: 0 0 0 1px #25738e inset;
  box-shadow: 0 0 0 1px #25738e inset;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  -ms-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}

.tabs input:checked + span {
  color: #fff;
  background: #0092b3;
}

.label {
  display: flex;
  padding: 24px 0 30px;
}

.label--full {
  justify-content: space-between;
}

.label__item {
  margin-left: 11px;
}

.label__item:first-child {
  margin-left: 0;
}

.copyright {
  padding-top: 120px;
}

.copyright__link {
  padding-left: 75px;
  display: inline-flex;
  font-size: 14px;
  line-height: 1;
  color: #9fafb8;
  height: 26px;
  background: url("/assets/image/logo.png") no-repeat;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 3px;
}

.preload {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.preload:before {
  content: "";
  width: 100px;
  height: 100px;
  margin: auto;
  background: url("/assets/image/gear.svg") no-repeat center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  animation-dill-mode: both;
}

.preload.active {
  pointer-events: none;
  -webkit-animation: fade 0.7s;
  -moz-animation: fade 0.7s;
  -o-animation: fade 0.7s;
  -ms-animation: fade 0.7s;
  animation: fade 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes fade {
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

@-webkit-keyframes fade {
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

@-o-keyframes fade {
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

@keyframes fade {
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

body.active .head__wrap,
body.active .head__wrap:before,
body.active .head__img,
body.active .head__img-bubble,
body.active .head__bubble {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

body.active .head__wrap,
body.active .head__wrap:before,
body.active .head__img-bubble,
body.active .head__bubble {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.head {
  overflow: hidden;
}

.head__wrap {
  background: #e9f1f4;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-top: 57px;
  position: relative;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.7s 0.7s, -webkit-transform 0.7s 0.7s;
  -moz-transition: opacity 0.7s 0.7s, -moz-transform 0.7s 0.7s;
  -o-transition: opacity 0.7s 0.7s, -o-transform 0.7s 0.7s;
  -ms-transition: opacity 0.7s 0.7s, -ms-transform 0.7s 0.7s;
  transition: opacity 0.7s 0.7s, transform 0.7s 0.7s;
}

.head__wrap:before {
  content: "";
  display: block;
  width: 1570px;
  height: 624px;
  background: url("/assets/image/head.png") no-repeat;
  position: absolute;
  top: -57px;
  left: 178px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.8) translateY(-150px);
  -moz-transform: scale(0.8) translateY(-150px);
  -o-transform: scale(0.8) translateY(-150px);
  -ms-transform: scale(0.8) translateY(-150px);
  transform: scale(0.8) translateY(-150px);
  -webkit-transition: opacity 0.7s 0.9s, -webkit-transform 0.7s 0.9s;
  -moz-transition: opacity 0.7s 0.9s, -moz-transform 0.7s 0.9s;
  -o-transition: opacity 0.7s 0.9s, -o-transform 0.7s 0.9s;
  -ms-transition: opacity 0.7s 0.9s, -ms-transform 0.7s 0.9s;
  transition: opacity 0.7s 0.9s, transform 0.7s 0.9s;
}

.head__content {
  position: relative;
  height: 1048px;
}

.head__content p {
  color: #fff;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 300;
}

.head__img {
  width: 608px;
  height: 554px;
  background: url("/assets/image/scan.png") no-repeat;
  position: absolute;
  top: 70px;
  right: 0;
  pointer-events: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.7s 1.1s;
  -moz-transition: opacity 0.7s 1.1s;
  -o-transition: opacity 0.7s 1.1s;
  -ms-transition: opacity 0.7s 1.1s;
  transition: opacity 0.7s 1.1s;
}

.head__title {
  font-family: "Roboto", sans-serif;
  font-size: 85px;
  line-height: 1;
  font-weight: 300;
  color: #0092b3;
  display: inline-block;
  position: relative;
  padding-top: 83px;
}

.head__title:before {
  content: "";
  display: block;
  width: 62px;
  height: 26px;
  background: url("/assets/image/sticker.png") no-repeat;
  position: absolute;
  top: 72px;
  left: 100%;
  margin-left: 25px;
}

.head__title span {
  color: #fff;
}

.head__text {
  margin: 47px 0 0 356px;
  position: relative;
}

.head__text:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -20px;
  bottom: 5px;
  width: 1px;
  background: #fff;
}

.head__title-two {
  padding-top: 454px;
  margin-left: 514px;
}

.head__img-bubble {
  width: 223px;
  height: 223px;
  position: absolute;
  bottom: 198px;
  left: 214px;
  background: url("/assets/image/img.png") no-repeat;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.7s 1.3s, -webkit-transform 0.7s 1.3s;
  -moz-transition: opacity 0.7s 1.3s, -moz-transform 0.7s 1.3s;
  -o-transition: opacity 0.7s 1.3s, -o-transform 0.7s 1.3s;
  -ms-transition: opacity 0.7s 1.3s, -ms-transform 0.7s 1.3s;
  transition: opacity 0.7s 1.3s, transform 0.7s 1.3s;
}

.head__bubble {
  width: 336px;
  height: 336px;
  background: #0092b3;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.7s 1.5s, -webkit-transform 0.7s 1.5s;
  -moz-transition: opacity 0.7s 1.5s, -moz-transform 0.7s 1.5s;
  -o-transition: opacity 0.7s 1.5s, -o-transform 0.7s 1.5s;
  -ms-transition: opacity 0.7s 1.5s, -ms-transform 0.7s 1.5s;
  transition: opacity 0.7s 1.5s, transform 0.7s 1.5s;
}

.preim {
  padding-bottom: 99px;
}

.preim__elem {
  display: flex;
  justify-content: space-between;
}

.preim__elem-left {
  width: 336px;
}

.preim__elem-right {
  width: 692px;
}

.preim__title {
  padding-top: 167px;
}

.preim__group {
  display: flex;
  padding-top: 78px;
}

.preim__group-item {
  width: 158px;
  margin-left: 20px;
}

.preim__group-item:first-child {
  margin-left: 0;
}

.preim__group-icon {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: auto;
}

.preim__group-icon--one {
  background: url("/assets/image/icon-1.png") no-repeat;
}

.preim__group-icon--two {
  background: url("/assets/image/icon-2.png") no-repeat;
}

.preim__group-icon--three {
  background: url("/assets/image/icon-3.png") no-repeat;
}

.preim__group-title {
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  color: #25738e;
  padding-top: 54px;
  white-space: nowrap;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 178px;
  text-align: center;
}

.preim__group-title:after {
  content: "";
  display: block;
  width: 77px;
  height: 1px;
  background: #d1dce1;
  margin: 21px auto 0;
}

.preim__group-text {
  text-align: center;
  color: #25738e;
  font-size: 14px;
  line-height: 1.45;
  font-weight: 300;
  padding-top: 16px;
}

.feedback {
  background: #e9f1f4 url("/assets/image/feedback.jpg") no-repeat top center;
  padding: 157px 0 23px;
}

.feedback p {
  color: #25738e;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  padding-top: 10px;
}

.feedback__form {
  padding-top: 16px;
}

.feedback__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback__group-item {
  width: 336px;
  margin-top: 20px;
}

.feedback__fields {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: none;
  -webkit-box-shadow: 0 0 0 1px #25738e inset;
  box-shadow: 0 0 0 1px #25738e inset;
  height: 59px;
  padding: 0 22px;
  color: #25738e;
  font-size: 16px;
  font-weight: 300;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  resize: none;
}

.feedback__fields--textarea {
  height: 140px;
  padding-top: 22px;
}

.feedback__fields::-webkit-input-placeholder {
  color: #25738e;
}

.feedback__fields::-moz-placeholder {
  color: #25738e;
}

.feedback__fields:-moz-placeholder {
  color: #25738e;
}

.feedback__fields:-ms-input-placeholder {
  color: #25738e;
}

.feedback__tabs {
  display: flex;
  justify-content: space-between;
}

.feedback__tabs-left {
  width: 692px;
}

.feedback__tabs-right {
  width: 336px;
}

.calendar {
  position: relative;
}

.calendar:before {
  content: "";
  width: 19px;
  height: 19px;
  background: url("/assets/image/calendar.png") no-repeat;
  margin: auto;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  pointer-events: none;
}

.ui-widget.ui-widget-content {
  width: 336px;
}

.ui-widget-content {
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(37,115,142,0.2);
  box-shadow: 0 5px 10px rgba(37,115,142,0.2);
  padding: 0 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-widget-header {
  position: relative;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  line-height: 1;
  border-bottom: 1px solid #e9f1f4;
  color: #25738e;
}

.ui-widget-header a {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  background: url("/assets/image/arrow.svg") no-repeat !important;
  -webkit-background-size: 24px 24px !important;
  -moz-background-size: 24px 24px !important;
  background-size: 24px 24px !important;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
}

.ui-widget-header a:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.ui-datepicker-prev {
  left: 0;
}

.ui-datepicker-next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-datepicker-calendar {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-datepicker-calendar th {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #25738e;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  color: #25738e;
  text-decoration: none;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  background: #e9f1f4;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: rgba(0,146,179,0.5);
  color: #fff;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #0092b3;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .page {
    width: 940px;
  }

  .grid:before {
    width: 940px;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0.15) 60px, transparent 60px);
    background: -moz-linear-gradient(left, rgba(255,0,0,0.15) 60px, transparent 60px);
    background: -o-linear-gradient(left, rgba(255,0,0,0.15) 60px, transparent 60px);
    background: -ms-linear-gradient(left, rgba(255,0,0,0.15) 60px, transparent 60px);
    background: linear-gradient(to right, rgba(255,0,0,0.15) 60px, transparent 60px);
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
  }

  .title {
    font-size: 40px;
  }

  .title--small {
    font-size: 23px;
  }

  .copyright {
    padding-top: 90px;
  }

  .head__content {
    height: 940px;
  }

  .head__content p {
    font-size: 20px;
  }

  .head__title {
    font-size: 81px;
    padding-top: 43px;
  }

  .head__title:before {
    top: 30px;
  }

  .head__text {
    margin: 60px 0 0 320px;
  }

  .head__title-two {
    padding-top: 410px;
    margin-left: 460px;
  }

  .head__img-bubble {
    width: 200px;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    left: 190px;
    bottom: 140px;
  }

  .head__bubble {
    width: 290px;
    height: 290px;
  }

  .preim__group-title {
    padding-top: 44px;
  }

  .feedback {
    padding-top: 120px;
  }

  .feedback__group-item {
    width: 300px;
  }

  .feedback__tabs-left {
    width: 560px;
  }

  .ui-widget.ui-widget-content {
    width: 300px;
  }
}

@media screen and (max-width: 980px) {
  .page {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .grid:before {
    width: 720px;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0.15) 38px, transparent 38px);
    background: -moz-linear-gradient(left, rgba(255,0,0,0.15) 38px, transparent 38px);
    background: -o-linear-gradient(left, rgba(255,0,0,0.15) 38px, transparent 38px);
    background: -ms-linear-gradient(left, rgba(255,0,0,0.15) 38px, transparent 38px);
    background: linear-gradient(to right, rgba(255,0,0,0.15) 38px, transparent 38px);
    -webkit-background-size: 62px;
    -moz-background-size: 62px;
    background-size: 62px;
  }

  .title {
    font-size: 35px;
  }

  .title--small {
    font-size: 23px;
  }

  .head__wrap:before {
    top: -150px;
    left: 102px;
  }

  .head__content {
    height: 720px;
  }

  .head__content p {
    font-size: 16px;
  }

  .head__img {
    width: 450px;
    height: 410px;
    -webkit-background-size: 450px 410px;
    -moz-background-size: 450px 410px;
    background-size: 450px 410px;
  }

  .head__title {
    font-size: 55px;
  }

  .head__text {
    margin: 45px 0 0 240px;
  }

  .head__text:before {
    top: 3px;
    bottom: 2px;
  }

  .head__title-two {
    padding-top: 300px;
    margin-left: 300px;
  }

  .head__img-bubble {
    width: 130px;
    height: 130px;
    left: 130px;
    bottom: 130px;
  }

  .head__bubble {
    width: 200px;
    height: 200px;
  }

  .preim__elem {
    flex-direction: column;
  }

  .preim__elem-left,
  .preim__elem-right {
    width: 100%;
  }

  .preim__title {
    padding-top: 90px;
  }

  .preim__group {
    padding-top: 30px;
  }

  .preim__group-item {
    width: 224px;
    margin-left: 24px;
  }

  .feedback__group-item {
    width: 348px;
  }

  .feedback__tabs {
    flex-direction: column;
  }

  .feedback__tabs-right .title {
    padding-top: 0;
  }

  .ui-widget.ui-widget-content {
    width: 348px;
  }
}

@media screen and (max-width: 765px) {
  .page {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .title {
    font-size: 30px;
    line-height: 1.1;
  }

  .title--small {
    font-size: 23px;
  }

  .label {
    flex-wrap: wrap;
    padding-top: 14px;
  }

  .label--full {
    justify-content: flex-start;
  }

  .label__item {
    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
  }

  .head__wrap {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .head__wrap:before {
    top: -300px;
    left: 5px;
  }

  .head__content {
    height: auto;
    padding-bottom: 575px;
  }

  .head__content p {
    font-size: 20px;
  }

  .head__img {
    width: 280px;
    height: 255px;
    margin: auto;
    left: 0;
    -webkit-background-size: 280px 255px;
    -moz-background-size: 280px 255px;
    background-size: 280px 255px;
  }

  .head__title {
    font-size: 30px;
    padding-top: 0;
  }

  .head__title:before {
    top: -20px;
  }

  .head__text {
    margin: 320px 0 0 0;
    color: #25738e !important;
  }

  .head__text:before {
    top: 3px;
    bottom: 2px;
  }

  .head__title-two {
    padding-top: 30px;
    margin-left: 0;
  }

  .head__img-bubble {
    margin: auto;
    width: 260px;
    height: 260px;
    left: 0;
    right: 0;
    bottom: 280px;
  }

  .head__bubble {
    margin: auto;
    width: 260px;
    height: 260px;
    right: 0;
  }

  .preim {
    padding-bottom: 35px;
  }

  .preim__title {
    padding-top: 60px;
  }

  .preim__group {
    padding-top: 30px;
    flex-direction: column;
  }

  .preim__group-item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .preim__group-title {
    padding-top: 20px;
  }

  .feedback {
    padding-top: 65px;
  }

  .feedback__group-item {
    width: 100%;
  }

  .feedback__tabs {
    flex-direction: column;
  }

  .feedback__tabs-right,
  .feedback__tabs-left {
    width: 100%;
  }

  .ui-widget.ui-widget-content {
    width: 290px;
  }
}