.ui-widget.ui-widget-content
	width: 336px
	+media(mq.desktop)
		width: 300px
	+media(mq.tablet)
		width: 348px
	+media(mq.phone)
		width: 290px

.ui-widget-content
	background: colors.white
	box-shadow: 0 5px 10px rgba(colors.bg-three, .2)
	padding: 0 15px 15px
	box-sizing: border-box

.ui-widget-header
	position: relative
	text-align: center
	padding: 20px 0
	font-size: 16px
	line-height: 1
	border-bottom: 1px solid colors.bg
	color: colors.bg-three
	a
		margin: auto
		position: absolute
		top: 0
		bottom: 0
		width: 24px
		height: 24px
		background: url(paths arrow.svg) no-repeat !important
		background-size: 24px 24px !important
		overflow: hidden
		text-indent: -9999px
		cursor: pointer
		&:hover
			opacity: .8

.ui-datepicker-prev
	left: 0

.ui-datepicker-next
	right: 0
	transform: rotate(180deg)

.ui-datepicker-calendar
	width: 100%
	box-sizing: border-box
	th
		padding: 10px 0
		box-sizing: border-box
		color: colors.bg-three

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active
	color: colors.bg-three
	text-decoration: none
	display: block
	box-sizing: border-box
	text-align: center
	padding: 10px 0

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus
	background: colors.bg

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover
	background: rgba(colors.bg-two, .5)
	color: colors.white

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight
	background: colors.bg-two
	color: colors.white
