+media(any)

  .feedback
    background: colors.bg url(paths feedback.jpg) no-repeat top center
    padding: 157px 0 23px
    p
      color: colors.bg-three
      font-size: 16px
      line-height: 1.5
      font-weight: 300
      padding-top: 10px
    +media(mq.desktop)
      padding-top: 120px
    +media(mq.phone)
      padding-top: 65px
    &__form
      padding-top: 16px
    &__group
      display: flex
      justify-content: space-between;
      flex-wrap: wrap
      &-item
        width: 336px
        margin-top: 20px
      +media(mq.desktop)
        &-item
          width: 300px
      +media(mq.tablet)
        &-item
          width: 348px
      +media(mq.phone)
        &-item
          width: 100%
    &__fields
      width: 100%
      display: block
      appearance: none
      box-sizing: border-box
      background: none
      border: none
      box-shadow: 0 0 0 1px colors.bg-three inset
      height: 59px
      padding: 0 22px
      color: colors.bg-three
      font-size: 16px
      font-weight: 300
      border-radius: 5px
      resize: none
      &--textarea
        height: 140px
        padding-top: 22px
      &::-webkit-input-placeholder
        color: colors.bg-three
      &::-moz-placeholder
        color: colors.bg-three
      &:-moz-placeholder
        color: colors.bg-three
      &:-ms-input-placeholder
        color: colors.bg-three
    &__tabs
      display: flex
      justify-content: space-between
      &-left
        width: 692px
      &-right
        width: 336px
      +media(mq.desktop)
        &-left
          width: 560px
      +media(mq.tablet)
        flex-direction: column
        &-right
          .title
            padding-top: 0
      +media(mq.phone)
        flex-direction: column
        &-right, &-left
          width: 100%

  .calendar
    position: relative
    &:before
      content: ""
      width: 19px
      height: 19px
      background: url(paths calendar.png) no-repeat
      margin: auto
      position: absolute
      top: 0
      right: 20px
      bottom: 0
      pointer-events: none
