+media(any)

  body.active
    .head__wrap
    .head__wrap:before
    .head__img
    .head__img-bubble
    .head__bubble
      opacity: 1
    .head__wrap
    .head__wrap:before
    .head__img-bubble
    .head__bubble
      transform: scale(1)

  .head
    overflow: hidden
    &__wrap
      background: colors.bg
      border-radius: 100%
      margin-top: 57px
      position: relative
      opacity: 0
      transform: scale(.8)
      transition: opacity .7s .7s, transform .7s .7s
      &:before
        content: ""
        display: block
        width: 1570px
        height: 624px
        background: url(paths head.png) no-repeat
        position: absolute
        top: -57px
        left: 178px
        opacity: 0
        transform: scale(.8) translateY(-150px)
        transition: opacity .7s .9s, transform .7s .9s
      +media(mq.tablet)
        &:before
          top: -150px
          left: 102px
      +media(mq.phone)
        background: none
        border-radius: 0
        &:before
          top: -300px
          left: 5px
    &__content
      position: relative
      height: 1048px
      p
        color: colors.white
        font-size: 22px
        line-height: 1.25
        font-weight: 300
      +media(mq.desktop)
        height: 940px
        p
          font-size: 20px
      +media(mq.tablet)
        height: 720px
        p
          font-size: 16px
      +media(mq.phone)
        height: auto
        padding-bottom: 575px
        p
          font-size: 20px
    &__img
      width: 608px
      height: 554px
      background: url(paths scan.png) no-repeat
      position: absolute
      top: 70px
      right: 0
      pointer-events: none
      opacity: 0
      transition: opacity .7s 1.1s
      +media(mq.tablet)
        width: 450px
        height: 410px
        background-size: 450px 410px
      +media(mq.phone)
        width: 280px
        height: 255px
        margin: auto
        left: 0
        background-size: 280px 255px
    &__title
      font-family: fonts.roboto
      font-size: 85px
      line-height: 1
      font-weight: 300
      color: colors.bg-two
      display: inline-block
      position: relative
      padding-top: 83px
      &:before
        content: ""
        display: block
        width: 62px
        height: 26px
        background: url(paths sticker.png) no-repeat
        position: absolute
        top: 72px
        left: 100%
        margin-left: 25px
      span
        color: colors.white
      +media(mq.desktop)
        font-size: 81px
        padding-top: 43px
        &:before
          top: 30px
      +media(mq.tablet)
        font-size: 55px
      +media(mq.phone)
        font-size: 30px
        padding-top: 0
        &:before
          top: -20px
    &__text
      margin: 47px 0 0 356px
      position: relative
      &:before
        content: ""
        display: block
        position: absolute
        top: 6px
        left: -20px
        bottom: 5px
        width: 1px
        background: colors.white
      +media(mq.desktop)
        margin: 60px 0 0 320px
      +media(mq.tablet)
        margin: 45px 0 0 240px
        &:before
          top: 3px
          bottom: 2px
      +media(mq.phone)
        margin: 320px 0 0 0
        color: colors.bg-three !important
        &:before
          top: 3px
          bottom: 2px
    &__title-two
      padding-top: 454px
      margin-left: 514px
      +media(mq.desktop)
        padding-top: 410px
        margin-left: 460px
      +media(mq.tablet)
        padding-top: 300px
        margin-left: 300px
      +media(mq.phone)
        padding-top: 30px
        margin-left: 0
    &__img-bubble
      width: 223px
      height: 223px
      position: absolute
      bottom: 198px
      left: 214px
      background: url(paths img.png) no-repeat
      opacity: 0
      transform: scale(.8)
      transition: opacity .7s 1.3s, transform .7s 1.3s
      +media(mq.desktop)
        width: 200px
        height: 200px
        background-size: cover
        left: 190px
        bottom: 140px
      +media(mq.tablet)
        width: 130px
        height: 130px
        left: 130px
        bottom: 130px
      +media(mq.phone)
        margin: auto
        width: 260px
        height: 260px
        left: 0
        right: 0
        bottom: 280px
    &__bubble
      width: 336px
      height: 336px
      background: colors.bg-two
      border-radius: 100%
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      bottom: 0
      left: 0
      opacity: 0
      transform: scale(.8)
      transition: opacity .7s 1.5s, transform .7s 1.5s
      +media(mq.desktop)
        width: 290px
        height: 290px
      +media(mq.tablet)
        width: 200px
        height: 200px
      +media(mq.phone)
        margin: auto
        width: 260px
        height: 260px
        right: 0
