+media(any)

  *
    outline: none

  body
    text-style: text.sans-body
    background: #fff
    min-width: 320px

  a
    color: colors.link
    &:hover
      text-decoration: none

  body, html
    height: 100%
    overflow: hidden
    &.active
      overflow: visible

  .page
    centered: true
    padding: 0 15px
    width: 1048px
    +media(mq.desktop)
      width: 940px
    +media(mq.tablet)
      width: 720px
      padding-left: 15px
      padding-right: 15px
    +media(mq.phone)
      width: 100%
      padding: 0 15px
      box-sizing: border-box

  .wrapper
    min-width: 320px
    min-height: 100%

  .grid:before
    content: ""
    width: 1048px
    margin: auto
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 99999
    background: linear-gradient(left, rgba(255,0,0,.3) 158px, transparent 158px)
    background-size: 178px
    pointer-events: none
    +media(mq.desktop)
      width: 940px
      background: linear-gradient(left, rgba(255,0,0,.15) 60px, transparent 60px)
      background-size: 80px
    +media(mq.tablet)
      width: 720px
      background: linear-gradient(left, rgba(255,0,0,.15) 38px, transparent 38px)
      background-size: 62px

  .title
    font-size: 46px
    line-height: .9
    color: colors.bg-three
    font-weight: 300
    &--small
      font-size: 23px
      line-height: 1
      padding-top: 22px
    +media(mq.desktop)
      font-size: 40px
      &--small
        font-size: 23px
    +media(mq.tablet)
      font-size: 35px
      &--small
        font-size: 23px
    +media(mq.phone)
      font-size: 30px
      line-height: 1.1
      &--small
        font-size: 23px

  .btn-center
    text-align: center
    padding-top: 20px

  .btn
    display: inline-block
    appearance: none !important
    border: none
    background: colors.bg-two
    height: 59px
    color: colors.white
    box-sizing: border-box
    padding: 0 50px
    border-radius: 5px
    font-size: 16px
    font-weight: 300
    transition: background .2s
    &:hover
      background: colors.bg-three

  .tabs
    display: block
    box-sizing: border-box
    width: 100%
    cursor: pointer
    input
      display: none
    span
      display: flex
      height: 37px
      justify-content: center
      text-align: center
      align-items: center
      border-radius: 5px
      color: colors.bg-three
      box-shadow: 0 0 0 1px colors.bg-three inset
      transition: background .2s, color .2s
      box-sizing: border-box
      padding: 0 15px
    input:checked + span
      color: colors.white
      background: colors.bg-two

  .label
    display: flex
    padding: 24px 0 30px
    &--full
      justify-content: space-between
    &__item
      margin-left: 11px
      &:first-child
        margin-left: 0
    +media(mq.phone)
      flex-wrap: wrap
      padding-top: 14px
      &--full
        justify-content: flex-start
      &__item
        margin-right: 10px
        margin-left: 0
        margin-top: 10px

  .copyright
    padding-top: 120px
    &__link
      padding-left: 75px
      display: inline-flex
      font-size: 14px
      line-height: 1
      color: #9FAFB8
      height: 26px
      background: url(paths logo.png) no-repeat
      align-items: center
      box-sizing: border-box
      padding-bottom: 3px
    +media(mq.desktop)
      padding-top: 90px

  .preload
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: colors.white
    &:before
      content: ""
      width: 100px
      height: 100px
      margin: auto
      background: url(paths gear.svg) no-repeat center
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      animation: spin 2s infinite linear
      animation-dill-mode: both
    &.active
      pointer-events: none
      animation: fade .7s
      animation-fill-mode: both

  @keyframes spin
    from
      transform: rotate(0)
    to
      transform: rotate(360deg)

  @keyframes fade
    100%
      transform: scale(2)
      opacity: 0
