+media(any)

  .preim
    padding-bottom: 99px
    +media(mq.phone)
      padding-bottom: 35px
    &__elem
      display: flex
      justify-content: space-between
      &-left
        width: 336px
      &-right
        width: 692px
      +media(mq.tablet)
        flex-direction: column
        &-left, &-right
          width: 100%
    &__title
      padding-top: 167px
      +media(mq.tablet)
        padding-top: 90px
      +media(mq.phone)
        padding-top: 60px
    &__group
      display: flex
      padding-top: 78px
      &-item
        width: 158px
        margin-left: 20px
        &:first-child
          margin-left: 0
      +media(mq.tablet)
        padding-top: 30px
        &-item
          width: 224px
          margin-left: 24px
      +media(mq.phone)
        padding-top: 30px
        flex-direction: column
        &-item
          width: 100%
          margin-left: 0
          margin-bottom: 40px
      &-icon
        width: 100px
        height: 100px
        border-radius: 100%
        margin: auto
        &--one
          background: url(paths icon-1.png) no-repeat
        &--two
          background: url(paths icon-2.png) no-repeat
        &--three
          background: url(paths icon-3.png) no-repeat
      &-title
        font-size: 16px
        line-height: 1
        font-weight: 300
        color: colors.bg-three
        padding-top: 54px
        white-space: nowrap
        position: relative
        left: 50%
        transform: translateX(-50%)
        width: 178px
        text-align: center
        &:after
          content: ""
          display: block
          width: 77px
          height: 1px
          background: #D1DCE1
          margin: 21px auto 0
        +media(mq.desktop)
          padding-top: 44px
        +media(mq.phone)
          padding-top: 20px
      &-text
        text-align: center
        color: colors.bg-three
        font-size: 14px
        line-height: 1.45
        font-weight: 300
        padding-top: 16px
