//Размеры
sizes.vertical-step = 9px       // - вертикальный ритм

// Цвета
colors.default   = #000
colors.white     = #fff
colors.text      = #000
colors.bg        = #E9F1F4
colors.bg-two    = #0092B3
colors.bg-three  = #25738e

// Шрифты
fonts.open-sans = font-stack("Open Sans", sans-serif)
fonts.roboto    = font-stack("Roboto", sans-serif)

// Шрифтовые стили:
//
text.sans-body = {
  font-family: fonts.open-sans,
  font-size: 14px,
  line-height: 17px
}

// Open Sans
webfonts.open-sans-regular = {
  font-family: "Open Sans",
  font-file: "OpenSans/regular.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.open-sans-light = {
  font-family: "Open Sans",
  font-file: "OpenSans/light.%s",
  font-style: normal,
  font-weight: 300
}

// Roboto
webfonts.roboto-regular = {
  font-family: "Roboto",
  font-file: "Roboto/regular.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.roboto-light = {
  font-family: "Roboto",
  font-file: "Roboto/light.%s",
  font-style: normal,
  font-weight: 300
}

// Путь
paths = "/assets/image/"
